alembic==1.13.1
Flask==3.0.2
Flask-Cors==4.0.0
Flask-Migrate==4.0.5
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==4.11.1
python-dotenv==0.21.0
python-json-logger==2.0.7
SQLAlchemy==2.0.27
sqlparse==0.4.3
