<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="ml-4 mr-4 mt-2 bg-violet-600">

<form action="/" method="POST">
    <div class="h-screen flex items-center justify-center">
        <div class="block w-3/5 p-6 bg-white border border-gray-200 rounded-lg shadow">
            <div class="m-4">
                    <div class="mb-6">
                        <label for="url" class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white">Shorten a long URL</label>
                        <input type="url" id="url" name="url" value="<%= url %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter long link here" required>
                        <p id="error_msg_url" class="mt-2 text-lg"></p>
                    </div>
                    <div class="mb-6">
                        <label for="alias" class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customize your link</label>
                        <input type="text" id="alias" name="alias" value="<%= alias %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter alias" required>
                        <p id="aliasAvailability" class="mt-2 text-lg"></p>
                    </div>

                    <div>
                        <button type="submit" id="submit_button_yaus" class="focus:outline-none text-white bg-violet-600 hover:bg-violet-700 focus:ring-4 focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-900">Shorten URL
                        </button>
                    </div>
            </div>
            <p id="error_msg" class="mt-2 text-lg"></p>
            <div id="rib_bar" class="<%= method === 'POST' ? '' : 'hidden' %> m-4 flex items-center justify-center">
                <!-- feature on todo list -->
                <!-- <div>
                    <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-800 dark:bg-white dark:border-gray-700 dark:text-gray-900 dark:hover:bg-gray-200 me-2 mb-2">
                        <svg class="h-10 w-10 text-violet-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="6" cy="12" r="3" />  <circle cx="18" cy="6" r="3" />  <circle cx="18" cy="18" r="3" />  <line x1="8.7" y1="10.7" x2="15.3" y2="7.3" />  <line x1="8.7" y1="13.3" x2="15.3" y2="16.7" /></svg>
                        <div class="ml-2 text-2xl h-10 text-violet-600">SHARE</div>
                    </button>
                </div> -->
                <div>
                    <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-800 dark:bg-white dark:border-gray-700 dark:text-gray-900 dark:hover:bg-gray-200 me-2 mb-2">
                        <svg class="h-10 w-10 text-violet-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M15 13l4 -4l-4 -4m4 4h-11a4 4 0 0 0 0 8h1" /></svg>
                        <div class="ml-2 text-2xl h-10 text-violet-600">VISIT</div>
                    </button>
                </div>
                <div>
                    <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-800 dark:bg-white dark:border-gray-700 dark:text-gray-900 dark:hover:bg-gray-200 me-2 mb-2">
                        <svg class="h-10 w-10 text-violet-600"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"/>
                        </svg>
                        <div class="ml-2 text-2xl h-10 text-violet-600">COPY</div>
                    </button>                  
                </div>
                <!-- feature on todo list -->
                <!-- <div>
                    <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-800 dark:bg-white dark:border-gray-700 dark:text-gray-900 dark:hover:bg-gray-200 me-2 mb-2">
                        <svg class="h-10 w-10 text-violet-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <rect x="4" y="4" width="6" height="6" rx="1" />  <line x1="7" y1="17" x2="7" y2="17.01" />  <rect x="14" y="4" width="6" height="6" rx="1" />  <line x1="7" y1="7" x2="7" y2="7.01" />  <rect x="4" y="14" width="6" height="6" rx="1" />  <line x1="17" y1="7" x2="17" y2="7.01" />  <line x1="14" y1="14" x2="17" y2="14" />  <line x1="20" y1="14" x2="20" y2="14.01" />  <line x1="14" y1="14" x2="14" y2="17" />  <line x1="14" y1="20" x2="17" y2="20" />  <line x1="17" y1="17" x2="20" y2="17" />  <line x1="20" y1="17" x2="20" y2="20" /></svg>            
                        <div class="ml-2 text-2xl h-10 text-violet-600">QR</div>
                    </button>
                </div> -->
                <div>
                    <button type="button" onclick="location.href = '/';" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-800 dark:bg-white dark:border-gray-700 dark:text-gray-900 dark:hover:bg-gray-200 me-2 mb-2">
                    <svg class="h-10 w-10 text-violet-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="9" y1="12" x2="15" y2="12" />  <line x1="12" y1="9" x2="12" y2="15" />  <path d="M4 6v-1a1 1 0 0 1 1 -1h1m5 0h2m5 0h1a1 1 0 0 1 1 1v1m0 5v2m0 5v1a1 1 0 0 1 -1 1h-1m-5 0h-2m-5 0h-1a1 1 0 0 1 -1 -1v-1m0 -5v-2m0 -5" /></svg>
                    <div class="ml-2 text-2xl h-10 text-violet-600">Shorten another</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

// Debounce function to delay the API call and reduce the number of requests
function debounce(func, wait, immediate) {
    let timeout;
    return function() {
        const context = this, args = arguments;
        const later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
        };
        const callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
    };
}

function checkAliasAvailability() {
    const aliasInput = document.getElementById('alias');
    const aliasValue = aliasInput.value;

    // Make an AJAX request to check the alias availability
    fetch(`http://127.0.0.1:5000/api/v1/alias_available/${aliasValue}`)
        .then(response => response.json())
        .then(data => {
            console.log(data.data.is_alias_available)
            // Handle the response to inform the user about alias availability
            const availabilityMessage = document.getElementById('aliasAvailability');
            if (data.data.is_alias_available == "false") {
                availabilityMessage.textContent = `${aliasValue} is available!`;
                availabilityMessage.classList.remove('text-red-600');
                availabilityMessage.classList.add('text-green-600');
            } else {
                availabilityMessage.textContent = `oops! ${aliasValue} not available please try another`;
                availabilityMessage.classList.remove('text-green-600');
                availabilityMessage.classList.add('text-red-600');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle error scenarios if needed
        });
}

document.getElementById('alias').addEventListener('input', debounce(checkAliasAvailability, 500));

</script>

</body>
</html>